# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
db.sqlite3
/media/
*.log

# Virtual environments
venv/
env/

# IDEs and editors
.vscode/
.idea/
*.swp

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Django migrations
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.mo
*.py[co]
*.pyo
*.pyd
*.pyo
*.pyd